@import url(./components/main/buttons.scss);
$background-color: #fff;
$border-color: rgba(209, 209, 209, 1);
$font-color: rgba(21, 21, 21, 1);
$active-input: rgb(41, 241, 141);
$green-button: rgba(70, 118, 10, 1);

#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body{
  background-color: $background-color;
  color: $font-color;
  a{
    text-decoration: none;
    color: $font-color
  }
  p{
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: $font-color;
  }
  button, select{
    cursor: pointer;
  }

}
.App{
  margin: 0 auto;
  overflow-x: hidden;

}
header{
  margin: 0 40px 60px;
  nav{
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    height: 60px;
    // width:%;
    border-bottom: 1px solid $border-color;
  }
  h1{
    font-size: 20px;
  }
  .cart{
    display: flex;
    align-items: center;
  }
}
main{
  display: flex;
  justify-content: center;
  flex-grow: 1;
  margin: 0 40px;
  width: 1440px;
  margin: 0 auto;

  .filter-body{
    height: 200px;
    overflow-y: scroll;
  }
}
.main-info{
  height: 100%;
  width: 1120px;

  .main-info-header{
    border: 1px solid $border-color;
    border-radius: 20px  20px  0 0;
    height: 50px;
    display: flex;
    justify-content: space-between;

    input,
    select{
      margin: 10px;
      height: 30px;
      border: none;
      border-radius: 20px;
      border: 1px solid $border-color;
      padding: 0 0 0 15px;
    }
    span{
      margin: 10px;
    }
    input:focus,
    select:focus{
      outline: 2px solid $active-input;
      background-color: darken(#fff, 10%);
    }
    select:active{
      border: 1px solid $border-color;
      outline: none;
    }
  }

  .main-info-content{
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    flex: 1;

    .item{
      box-sizing: border-box;
      padding: 16px;
      margin: 5px;
      height: 325px;
      width: 270px;
      border-radius: 10px;
      border: 1px solid $border-color;
      transition: all 0.5s ease-in-out;

      img{
        border-radius: 5px;
        height: 180px;
        width: 235px;
      }
      .buttons{
        display: flex;
        justify-content: space-between;
        margin: 10px 0 0 0;
      }
    }
    .item:hover{
      transform: translateY(-5px);
      box-shadow: 0 0 20px $border-color;
    }
  }
}

.side-bar{
  width: 260px;
  .side-buttons{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    button{
      width: 80px;
      height: 35px;
    }
  }
}

.cart{
  display: flex;
  justify-content: space-between;

  .cart-items-header{
    display: flex;
    justify-content: space-between;
  }

  .cart-items-conrainer{
    width: 1000px;
    margin: 0 20px;
    padding: 20px;
    border: 1px solid $border-color;
    border-radius: 10px;
  }
  .cart-item {
      height: 180px;
      margin: 20px 0;
      padding: 10px;
      border: 1px solid $border-color;
      border-radius: 10px;
      display: flex;
      justify-content: space-around;

      .item-id{
        width: 30px;
      }

      img{
        height: 180px;
        width: 180px;
        margin-right: 30px;
      }

      .cart-item-description{
        flex: 1;
      }
      .counter{
        display: flex;
        justify-content: space-between;
      }
      .purchase-data{
        text-align: center;
        padding: 0 0 0 10px;
        margin-top: 50px;

        button {
          width: 25px;
        }
        .price{
          margin-top: 20px;
        }
        p{
          width: 20px;
        }
      }
  }
  .summary{
    width: 400px;
    margin: 0 10px;
    label{
      display: block;
      margin: 5px 0;
    }
    button{
      margin: 10px auto;
      width: 150px;
      height: 50px;
      text-transform: uppercase;
      background-color: $green-button;
      border: 1px solid darken($color: $green-button, $amount: 20%);
      color: #fff;
    }
  }
}
.product{
  flex: 1;
  flex-direction: column;
  .product-path{
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin: 20px auto;
  }
  .product-container{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .product-img-container{
      display: flex;
      img{
        width: 300px;
        height: 300px;
        border-radius: 10px;
      }
    }
    .aside-img{
      margin-right: 10px;
      img{
        width: 100px;
        height: 100px;
        border-radius: 5px;
        cursor: pointer;
      }
    }
    .product-description-container{
      p{
        margin: 5px;
      }
    }
    .product-purchase{
      display: flex;
      flex-direction: column;
      width: 150px;
      button{
        margin: 10px auto;
        width: 150px;
        height: 50px;
        text-transform: uppercase;
      }
      .buy-now{
        color: #fff;
        background-color: $green-button;
        border: 1px solid darken($color: $green-button, $amount: 20%);
      }
    }
  }
}
footer{
  flex-shrink: 0;
  nav{
    ul{
      margin: 0 30px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
dialog {
  top: 20%;
  left: 30%;
  border-radius: 20px;
  width: 500px;
  outline: none;
  margin: 0;
}
.modal-content{
  position: relative;
  z-index: 2;
  margin: 0 auto;
  input {
    border: 1px solid $border-color;
    outline: none;
  }
  input:focus {
    border: 1px solid green;
    outline: none;
  }
  input:invalid {
    border: red solid 1px;
    outline: none;
  }
}
.modal-background{
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
}
.modal-background-hiden{
  display: none;
}
@media screen and (max-width: 1440px) {
  main{
    width: 960px;
    .side-bar{
      width: 200px;
    }
  }
    .main-info{
      width: 760px;
      .main-info-content{

        .item{
          width: 243px;
          height: 293px;

          img{
            height: 132px;
            width: 210px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 960px) {
    main{
      width: 640px;
      .side-bar{
        width: 200px;
      }
    }
      .main-info{
        width: 440px;
        .main-info-header{
          input,
          select{
            width: 139px;
          }
          span{
            margin: 5px;
            font-size: 16px;
            text-align: center;
          }
        }
        .main-info-content{
          flex-direction: column;
          flex-wrap: nowrap;

          .item{
            width: 440px;
            height: 153px;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            flex-direction: row;

            img{
              height: 132px;
              width: 210px;
            }
            .cart-item-description{
              margin: 0 10px;
            }
            .buttons{
              width: 80px;
              display: flex;
              flex-direction: column;
              align-items: center;
              align-self: center;
              button{
                margin: 10px 0;
              }
            }
          }
        }
      }

      .cart{
        box-sizing: border-box;
        h5{
          margin: 0;
        }
        .cart-items-conrainer{
          width: 490px;
          padding: 10px;
          margin: 0;
          box-sizing: border-box;
        }
        .cart-item {
            height: 150px;
            .item-id{
              width: 20px;
            }
            img{
              height: 120px;
              width: 120px;
              margin: 15px 10px 0 0;
            }
        }
        .summary{
          width: 130px;
        }
      }
    }