@import url(./styles/buttons.scss);
@import url(./styles/cart.scss);
@import url(./styles/footer.scss);
@import url(./styles/header.scss);
@import url(./styles/main.scss);
@import url(./styles/modal.scss);
@import url(./styles/product.scss);
@import url(./styles/rangeCss.scss);

$background-color: #fff;
$border-color: rgba(209, 209, 209, 1);
$font-color: rgba(21, 21, 21, 1);
$active-input: rgb(41, 241, 141);
$green-button: rgba(70, 118, 10, 1);

#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body{
  background-color: $background-color;
  color: $font-color;
  a{
    text-decoration: none;
    color: $font-color
  }
  p{
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: $font-color;
  }
  button, select{
    cursor: pointer;
  }
  li{
    list-style-type: none;
  }
  h5{
    margin: 12px 0;
  }
}
.App{
  margin: 0 auto;
  overflow-x: hidden;
}
