.product{
  flex: 1;
  flex-direction: column;
  .product-path{
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin: 20px auto;
  }
  .product-container{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .product-img-container{
      display: flex;
      img{
        width: 300px;
        height: 300px;
        border-radius: 10px;
      }
    }
    .aside-img{
      margin-right: 10px;
      img{
        width: 100px;
        height: 100px;
        border-radius: 5px;
         cursor: pointer;
      }
    }
    .product-description-container{
      p{
        margin: 5px;
      }
    }
    .product-purchase{
      display: flex;
      flex-direction: column;
      width: 150px;
      button{
        margin: 10px auto;
        width: 150px;
        height: 50px;
        text-transform: uppercase;
      }
      .buy-now{
        color: #fff;
        background-color: $green-button;
        border: 1px solid darken($color: $green-button, $amount: 20%);
      }
    }
  }
}
// @media screen and (max-width: 1440px) {

// }
// @media screen and (max-width: 960px) {

// }