.horizontal-slider{
	// background-color: chocolate;
    height: 25px;
    border: 1px solid black;
    border-radius: 5px;
}
.example-thumb{
	height: 25px;
	width: 28px;
	text-align: center;
	background-color: #f568a9;
	border: 1px solid #852c55;
    border-radius: 5px;
	box-sizing: border-box;
}
